<!DOCTYPE html>
<style>
ol li{
    margin: 15px;
    padding: 0px;   
}
</style>
        <ol type="number" start="1">       <!-- nesta linha, oode ser tambeém ol, lista ordenada-->                

                <li> <a href="../midias/ric20250111_ansiedade.m4a">Perigos da Ansiedade_20250111</a></li>
                <li> <a href="../midias/cura_endemon.m4a">Discípulo de Crísto_20250125</a></li>   
                <li> <a href="../midias/compromisso.m4a">Compromisso Cristão_20250202</a></li>
                <li> <a href="../midias/deserto.m4a">Luta no Deserto_20250222</a></li>              
                                                             
        </ol>
</html>
