<!DOCTYPE html>
<style>
ol li{
    margin: 15px;
    padding: 0px;   
}
</style>
        <ol type="number" start="1">       <!-- nesta linha, oode ser tambeém ol, lista ordenada-->                

                <li> <a href="../images/chapeleiro.jpg">O Chapeleiro.</a></li>
                <li> <a href="../images/VidaNova.jpg">Vida Nova.</a></li>
                <li> <a href="../images/guerreiros.jpg">Guerreiros.</a></li>
                <li> <a href="../images/planomesa.jpg">Plano da Mesa.</a></li>
                <li> <a href="../images/cic.jpg">Culto por Igreja-CIC</a></li>
                <li> <a href="../images/cafecic.jpg">Igreja também tem café</a></li>
                <li> <a href="../images/ric1.jpg">Parabéns aos aniversariantes-p1</a></li>
                <li> <a href="../images/ric2.jpg">Parabéns aos aniversariantes-p2</a></li>
                <li> <a href="../images/ric3.jpg">Parabéns aos aniversariantes-p3</a></li>
                <li> <a href="../images/ric4.jpg">Parabéns aos aniversariantes-p4</a></li>
                <li> <a href="../images/amigos.jpg">Culto dia do Amigo</a></li>
                <li> <a href="../images/rest_vani.jpg">Devolta ao Convívio</a></li>
                <li> <a href="../images/niver_dela.jpg">Aniversário dela gente!</a></li>
                <li> <a href="../images/fé_aquecida.jpg">Povo unido espanta o frio</a></li>                                              
        </ol>
</html>
