<!DOCTYPE html>

<style>

ol li{
    margin: 15px;
    padding: 0px; 
   
}
</style>
        <ol type="number" start="1">       <!-- nesta linha, oode ser tambeém ol, lista ordenada-->
                <li> <a href="../images/Moldes_Fotos.png">RIC reunida e completa... quase completa</a></li>
                <li> <a href="../images/memb_ric.jpeg">MeuAmigoChapeleiro</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                <li> <a href="../images/memb_ric.jpeg">foto</a></li>
                
        </ol>
</html>
