<!DOCTYPE html>

<style>

ol li{
    margin: 15px;
    padding: 0px; 
   
}
</style>
        <ol type="number" start="1">       <!-- nesta linha, oode ser tambeém ol, lista ordenada-->
                

                <li> <a href="../images/chapeleiro.jpg">O Chapeleiro.</a></li>
                <li> <a href="../images/VidaNova.jpg">Vida nova.</a></li>
                
                <!--
                <li> <a href="../images/img_manutencao.jpg">Página em Manutenção.</a></li> -->
                
                                
        </ol>
</html>
