<!DOCTYPE html>

<style>

ol li{
    margin: 15px;
    padding: 0px; 
   
}
</style>
        <ol type="number" start="1">       <!-- nesta linha, oode ser tambeém ol, lista ordenada-->
                
                <li> <a href="../infos/organi_ric_angela.pdf">Organização RIC</a></li>
                <li> <a href="../infos/ciclo_ric.pdf">Ciclo de Reuniões</a></li> 
                <li> <a href="https://forms.gle/d4TzCbAY32bVogqT7">Inscrição Retiro Homens set/24</a></li> 
                        <li> <a href="https://acampamentomab.com.br">Local Retiro Homens set/24</a></li> 
                <li> <a href="../infos/pix_oferta.pdf">PIX-Oferta</a></li>                         
                                
        </ol>
</html>
