<!DOCTYPE html>

<style>

ol li{
    margin: 15px;
    padding: 0px; 
   
}
</style>
        <ol type="number" start="1">       <!-- nesta linha, oode ser tambeém ol, lista ordenada-->
                

                <li> <a href="../images/Organização RIC JD. Angela.pdf">Organização RIC</a></li>
                <li> <a href="../images/CicloRIC_v3.pdf">Ciclo de Reuniões</a></li> 
                <li> <a href="../images/retirohomens.pdf">Retiro Homens set/24</a></li> 
                <li> <a href="../images/PIX-Ofertas.pdf">PIX-Oferta</a></li> 
                <li> <a href="../images/aviso2.jpg">Jejum Geral ICOC jul/24</a></li>    
                         
                                
        </ol>
</html>
