<!DOCTYPE html>

<style>

ol li{
    margin: 15px;
    padding: 0px; 
   
}
</style>
        <ol type="number" start="1">       <!-- nesta linha, oode ser tambeém ol, lista ordenada-->
                

                <li> <a href="../images/Organização RIC JD. Angela.pdf">Organização RIC</a></li>
                <li> <a href="../images/CicloRIC_v2.pdf">Organização RIC</a></li>
                
                
                <!--
                <li> <a href="../images/img_manutencao.jpg">Página em Manutenção.</a></li> -->
                
                                
        </ol>
</html>
