@charset "UTF-8";

body{
    width: auto;
    margin: 0px;
    padding: 0px;
    background-color: rgb(223, 149, 52);   
}
header{
    position: absolute;
    width: 100%;
    top: 20px;
}

div#principal{
    width: 730px;
    background-color: white;
    box-shadow:  0 0 2em rgb(124, 120, 120);
    padding-top: 10px;
    border-radius: 8px;
}

footer{
    width: 100%;
    background-color: rgb(202, 195, 195);
    position: absolute;
    clear: both;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
    margin-top: 30px;
   
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;   
}

nav{
    float: left;  
    background-color: rgb(17, 22, 22);
    margin-top: 10px;
    color: rgb(121, 111, 214);
    text-align: center
}

nav li{   
    border: 1px solid rgb(221, 218, 14);  
    border-radius: 8px; 
    background-color: rgb(221, 220, 216);
    font-size: 20px;        
}

nav li:hover{
    background-color: yellow;
}

a{
    color: rgb(63, 41, 7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#botao-menu img#bot-menu{
    float: right;
    position: relative;
   
}

/*smart phone ===================================================*/
@media only screen and (max-width: 480px){
    nav{width: 100%; height: 55px; padding-top: 4px;}
    nav li{
        position: relative;
        float: right;
        display:none;
        top: 55px;
        width: 11%;
        height: 35px;
        color: rgb(15, 15, 15);
        background-color: rgb(193, 197, 197);
        margin: 2px;
        padding-right: 10px;
        }

    div#principal{
            width: 380px;  
            margin: 4px auto 4px auto;      
        }

    div#botao-menu img#bot-menu{       
    top: -50px;
    right: 50px;    
    }

    img#logo_pagina{        
        top: -100px;
        left: -10px; 
        max-width: 150px; 
}

    img#bot-menu{
    max-width: 60px;
    }


    figure#moldura{    
    position: relative;
    border: 8px solid hsl(0, 22%, 96%);       
    box-shadow:  0 0 1em rgb(198, 209, 47);  
    width:338px;
    height: 308px;
    right: 26px;   
    margin-top: 200px;
    margin-bottom: 50px;
    background-color: rgb(144, 144, 146);   
    }

    figure#moldura img{
    position: relative;
    right: 0px;
    top: 0px; 
    }

    h1{
    margin-top: 50px;
    font-size: 16px;
    }

    h2{
    font-size: 14px;
    }
    p{      
    font-size: 12px;         
    }    

    img#botao-voltar{
    position: relative;
    left: 150px;
    }

    a{
        font-size: 14px;
    }
}


/* tablet =============================================================*/
@media only screen and (min-width: 481px) and (max-width: 767px){
    nav{width: 100%; height: 60px; padding-top: 15px;}
    nav li{
        position: relative;
        float: right;
        display:none;
        top: 60px;
        width: 13%;
        height: 35px;
        color: rgb(15, 15, 15);
        background-color: rgb(201, 201, 194);
        margin: 2px;
        padding-right: 2px;
        text-align: center;
    }

    div#principal{
            width: 720px;  
            margin: 10px auto 10px auto;      
    }

    div#botao-menu img#bot-menu{       
        top: -65px;
        right: 50px;
    }

    img#bot-menu{
        max-width: 70px;
        }

        img#logo_pagina{
            top: -118px;
            left: 20px; 
            max-width: 215px;  
    }

    figure#moldura{    
        position: relative;
        border: 8px solid hsl(0, 22%, 96%);       
        box-shadow:  0 0 1em rgb(95, 141, 34);  
        width: 640px;
        height: 580px;
        left: 0px;    
        margin-top: 200px;
        margin-bottom: 50px;
        background-color: rgb(144, 144, 146);   
    }
    
    figure#moldura img{
        position: relative;
        right: 0px;
        top: 0px;    
    }

    h1{
        margin-top: 50px;
        font-size: 21px;
    }

    h2{
        font-size: 19px;
    }

    p{      
        font-size: 13px;         
    }

    img#botao-voltar{
        position: relative;
        left: 310px;
    }

    a{
        font-size: 18px;
    }
}

/*desktop    =====================================================================*/
@media only screen and (min-width: 768px){
    nav{width: 100%; height: 80px; }
    nav li{ float: right; width: 75px;  padding:10px; margin: 15px 13px; }    

    div#botao-menu img#bot-menu{
        display: none;
        top: -80px;
        right: 30px;
       }

    div#principal{
        width: 720px;  
        margin: 10px auto 10px auto;      
    }

    img#logo_pagina{
            top: -108px;
            left: -10px; 
            max-width: 215px; 
            max-height: 170px;   
    }

    figure#moldura{    
        position: relative;
        border: 8px solid hsl(0, 22%, 96%);       
        box-shadow:  0 0 1em rgb(60, 46, 182);  
        width: 640px;
        height: 582px;
        left:-10px;
        margin-top: 200px;
        margin-bottom: 50px;
        background-color: rgb(144, 144, 146); 
              
    }
    
  

    p{      
      font-size: 14px;         
    }

    img#botao-voltar{
        position: relative;
        left: 10px;
    }

    h1{
        margin-top: 50px;
        font-size: 25px;
    }
    
    h2{
        font-size: 23px;
    }

    img#botao-voltar{
        position: relative;
        left: 320px;
    }
   
    
}

/*==========================CONFIGURAÇÃO GERAL ======================================*/  
img#bot-menu{
    border-radius: 5px;
}  
    
img#logo_pagina{
    position: relative;
    float: left;        
}

p{
    text-align:left;
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;     
}

h1{
    position: relative;
    top: 150px;
    text-align: center;
}

h2{
    position: relative;
    top: 160px;
    text-align: center;
}