

body{
    margin: 0px;
    padding: 0px;
    background-color: aquamarine;
}
header{
        width: 100%;
}

main{
    width: 100%;
}

footer{
    width: 100%;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
   
}

nav{
    float: left;
    width: 100%;
    background-color: rgb(17, 22, 22);
   margin-top: 20px;
   color: yellow;
   text-align: center;
   display:block;    
}

nav li{float: left;}

.banderola{
    position: absolute;
    left: 10px;
}

/*smart phone*/
@media only screen and (max-width: 480px){
    nav{height: 50px; padding-left: 30%; padding-top: 15px;}
    nav li{width: 100%;}
}

/* tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px){
    nav{height: 80px; padding-left: 30%; padding-top: 15px;}
    nav li{width: 100%;}

}

/*desktop*/
@media only screen and (min-width: 769px){
    nav{height: 100px; padding-left: 30%; padding-top: 15px;}
    nav li{width: 22%; text-align: center;}
    
}

footer{
    clear: both;
    border-top: 1px solid red;
}

footer{
    text-align: center;
}


