@charset "UTF-8";

body{
    width: auto;
    margin: 0px;
    padding: 0px;
    background-color: rgb(223, 241, 62);   
}
header{
    position: absolute;
    width: 100%;
    top: 20px;
}
main{
    width: 100%;
    
}
footer{
    width: 100%;
    background-color: rgb(131, 128, 128);
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
   
}
nav{
    float: left;  
    background-color: rgb(17, 22, 22);
    margin-top: 10px;
    color: rgb(121, 111, 214);
    text-align: right;
   
      
}
nav li{   
    border: 1px solid red;  
    border-radius: 8px; 
        
}

a{
    color: rgb(245, 245, 237);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#botao-menu img#bot-menu{
    float: right;
    position: relative;
   
}

/*smart phone */
@media only screen and (max-width: 480px){
    nav{width: 100%; height: 55px; padding-top: 4px;}
    nav li{
        position: relative;
        float: right;
        display:none;
        top: 60px;
        width: 100%;
        height: 35px;
        color: rgb(15, 15, 15);
        background-color: rgb(193, 197, 197);
        margin: 2px;
        }

div#botao-menu img#bot-menu{       
    top: -53px;
    right: 50px;}

    aside#cx-selecao{           
        top: 280px;
        left: 30px; 
        width: 75px; 
        height: 250px; 
        position:absolute;
        border: 1px solid red;
         
        padding: 5px; 
        border-radius: 8px;      
        background-color: rgb(171, 171, 173);       
    }



img#logo-pagina{   
        top: -595px;
        left: 20px; 
        max-width: 170px;    
}

figure#moldura{    
    position: relative;
    border: 8px solid hsl(0, 22%, 96%);       
    box-shadow:  0 0 1em rgb(46, 8, 8);  
    width:270px;
    height: 256px;
    left: 100px;    
    margin-top: 200px;
    margin-bottom: 50px;
    background-color: rgb(144, 144, 146);   
}

figure#moldura img{
    position: relative;
    right: 0px;
    top: 0px;
   

}

h1{
    margin-top: 50px;
    font-size: 15px;
}

h2{
    font-size: 13px;
}
p{      
    font-size: 12px;         
  }    

  img#botao-voltar{
    position: relative;
    left: -2px;
}
}


/* tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px){
    nav{width: 100%; height: 60px; padding-top: 15px;}
    nav li{
        position: relative;
        float: right;
        display:none;
        top: 60px;
        width: 100%;
        height: 35px;
        color: rgb(15, 15, 15);
        background-color: rgb(193, 197, 197);
        margin: 2px;
        }



    div#botao-menu img#bot-menu{       
        top: -60px;
        right: 50px;}

        aside#cx-selecao{           
            top: 380px;
            left: 60px; 
            width: 100px; 
            height: 195px; 
            position:absolute;
            border: 1px solid red;             
            padding: 5px; 
            border-radius: 8px;      
            background-color: rgb(171, 171, 173);       
        }

    img#logo-pagina{   
            top: -738px;
            left: 20px; 
            max-width: 180px;    
    }

    figure#moldura{    
        position: relative;
        border: 8px solid hsl(0, 22%, 96%);       
        box-shadow:  0 0 1em rgb(46, 8, 8);  
        width: 380px;
        height: 357px;
        left: 200px;    
        margin-top: 200px;
        margin-bottom: 50px;
        background-color: rgb(144, 144, 146);   
    }
    
    figure#moldura img{
        position: relative;
        right: 0px;
        top: 0px;
      
    
    }

    h1{
        margin-top: 50px;
        font-size: 25px;
    }

    h2{
        font-size: 20px;
    }

    p{      
        font-size: 12px;         
      }

      img#botao-voltar{
        position: relative;
        left: 10px;
    }
}





/*desktop    */
@media only screen and (min-width: 769px){
    nav{width: 100%; height: 80px; }
    nav li{ float: left; width: 80px;  padding:15px; margin: 15px ; } 

    div#botao-menu img#bot-menu{
        display: none;
        top: -80px;
        right: 30px;
       }

    aside#cx-selecao{      
            left: 100px; 
            top: 350px; 
            height: 230px; 
            position:absolute;
            border: 1px solid red;
            width: 120px;   
            padding: 5px; 
            border-radius: 8px;      
            background-color: rgb(171, 171, 173);      
        }  

    img#logo-pagina{   
            top: -250px;
            left: 50px;     
    }

    figure#moldura{    
        position: relative;
        border: 8px solid hsl(0, 22%, 96%);       
        box-shadow:  0 0 1em rgb(46, 8, 8);  
        width: 610px;
        height: 575px;
        left: 250px;    
        margin-top: 200px;
        margin-bottom: 50px;
        background-color: rgb(144, 144, 146);        
    }
    
    figure#moldura img{
        position: relative;
        right: 0px;
        top: 0px;
        width: 608px;    
    }

    p{      
      font-size: 14px;         
    }

    img#botao-voltar{
        position: relative;
        left: 20px;
    }
   
    
}

/*==========================CONFIGURAÇÃO GERAL ======================================*/  
img#bot-menu{
    border-radius: 5px;
}  
    
img#logo-pagina{
    position: relative;
    float: left;        
}


p{
    text-align:left;
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
     
}
h1{
    position: relative;
    top: 150px;
    text-align: center;
}
h2{
    position: relative;
    top: 150px;
    text-align: center;
}


footer{
    position: absolute;
    clear: both;
    border-top: 1px solid red;
    text-align: center;
    padding-top: 20px;
    width: 100%;
}